.btn1 {width: 180px;height: 180px;border-radius: 5%;color:#FFF;font-size: 130px;box-shadow: 2px 2px 5px #999;padding: 0 10px 10px 16px;}
.prueba{margin: 0 auto;}
.windows{float: left;}
.mac{float: right;}
.btn1 a {color: #fff;}
.btnes{font-size: 18px; }
