.page-header.position-relative
	.header-title
		h1
			| #{pagename}
	.header-buttons
		a.sidebar-toggler(href='#')
			i.fa.fa-arrows-h
		a#refresh-toggler.refresh(href='')
			i.glyphicon.glyphicon-refresh
		a#fullscreen-toggler.fullscreen(href='#')
			i.glyphicon.glyphicon-fullscreen