.loading-container
	.loader
.navbar
	.navbar-inner(style="background: #e0e0e2;")
		.navbar-container
			.navbar-header.pull-left
				a.navbar-brand(href='#')
					small
						img(src='assets/img/logo.png', alt='')
